@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway";
    background-color: #EAEAEA;
    box-sizing: border-box;
}

.limite-largura {
    max-width: 1024px;
   
}

header {
    background-color: white;
    
}

.topo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 12px;
}

.topo-logo {
    width: 32px;
    margin-right: 10px;
}

.topo-titulo {
    font-size: 24px;
    padding-bottom: 1px;
    color: #5D15D1;
}
.orcamento-fundo {
    width: 100%;
    height: auto;
    background-image: url("img/bahia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.orcamento-area {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}

.orcamento-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5D15D1;
    height: 30px;
}

.orcamento-logo {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.orcamento-descricao {
    color: white;
    font-size: 14px;
    margin: 0 0 0 5px;
}

.orcamento-area-formulario {
    background-color: white;
    padding: 30px;
}

.orcamento-subtitulo-formulario {
    font-size: 22px;
    margin: 0 0 24px 0px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input {
    height: 30px;
    margin: 10px 0;
}

select {
    height: 30px;
}

.formulario input {
    padding: 0 5px;
    box-sizing: border-box;
}

.formulario select {
    padding: 0 3px;
    margin: 10px 0;
}

.formulario-campo-duplo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario-campo-duplo div {
    display: flex;
    flex-direction: column;
}

.formulario-campo-duplo input , .formulario-campo-duplo select {
    width: 465px;

}

.radio {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.radio div {
    display: flex;
    align-items: center;
    width: 120px;
  
}

.radio input {
    margin-right: 10px;
}

button {
    background-color: #5D15D1;
    width: 150px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    border: none;
    padding: 5px;
}

.ofertas-area, .natureza-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 auto;
}

.ofertas-titulo, .natureza-titulo{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.ofertas-descricao, .natureza-descricao{
    margin-bottom: 15px;
}

.ofertas-imagens {
    display: flex;
    justify-content: space-between;
    height: 375px;
    width: 100%;
}

.oferta-imagem-destaque {
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}

.oferta-quatro-imagens {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.oferta-quatro-imagens figure {
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
}

.oferta-imagem-destaque img, .oferta-quatro-imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oferta-quatro-imagens figcaption, .oferta-imagem-destaque figcaption{
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.494);

    width: 100%;
    box-sizing: border-box;
}

.natureza-duas-imagens {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.natureza-imagem {
    width: calc(50% - 10px);
    height: 100%;
}

.natureza-imagem img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.natureza-imagem div{
    background-color: white;
    padding: 10px;
}

.natureza-imagem h3 {
    font-size: 16px;
    font-weight: bolder;
    margin: 0 0 10px 0;
}

.natureza-imagem {
    font-size: 14px;
}

footer{
    background-color: #5D15D1;
    width: 100%;
    margin-top: 30px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.rodape-conteudo img {
    width: 20px;
    padding: 0 10px 0 0;
}

.rodape-conteudo h2 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.rodape-conteudo span {
    color: white;
    font-size: 16px;
    font-weight: bold;
    
}

.rodape-conteudo div {
    display: flex;
    align-items: center;
    margin: 10px 0;
}